@charset "UTF-8";

/* CSS Reset Basic*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Geral */

body {
   background-color: #0A3200 ;
    min-height: 100vh;
    font-family: 'Inter', sans-serif;
    color: rgb(232, 237, 241);
}

.Htop {
    text-align: center;
    font-size: 250%;
    margin-top: 80px;
    margin-bottom: 20px;
}

.mid {
    background: linear-gradient(140deg, #379634, #BFFFF1);
    display: flex;
    flex-direction: column;
    width: 650px;
    margin: auto;
    align-items: center;
    border-radius: 8px;
    padding: 10px;
}

input {
    font-size: 1.5em;
    width: 500px;
    height: 50px;
    margin: 20px 0px 5px 0px;
    padding: 10px;
    border-radius: 8px;
    border-color: #0a3200fe;
    box-shadow: 0px 0px 8px rgb(20, 85, 4);
}

.cad {
    background-color: #0a3200 ;
    width: 330px;
    height: 40px;
    border-radius: 18px;
    border-top: none;
    border-left: none;
    color: aliceblue;
    font-size: 1.2em;
    font-weight: bold;
    box-shadow: 0px 0px 5px rgb(0, 239, 239);
    margin: 10px;
}

.cad:hover {
    background-color: #11b208d0;
    color: #0A3200;
}

footer {
    text-align: center;
    margin: 40px 20px;
    font-size: large;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #37963470;
    list-style: none;
    margin: 10px;
    padding: 8px;
    border-radius: 8px 2px;
    font-size: 1.5em;
    font-weight: bold;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.37);
    color: #0A3200;
}

 .remover {
    background-color: rgb(0, 0, 0);
    width: 30px;
    height: 30px;
    border-radius: 5px;
    color: #BFFFF1;
    font-weight: bold;
    margin-left: 10px;
 }

 .remover:hover {
    background-color: red;
 }